@charset "UTF-8";
@import url(reset.css);
@import url(master.css);
/*********基本樣式設定**********/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #e8e8e8;
  font-family: "Noto Sans TC", sans-serif;
}

/*** header 網頁頭 ***/
.main-header {
  width: 100%;
  background-color: #e53244;
  /* LOGO */
}

.main-header .header-container {
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

.main-header .logo {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #ffffff;
  margin-left: 2em;
}

@media (max-width: 768px) {
  .main-header .logo {
    margin: 0;
  }
}

.main-header .logo > img {
  width: 70px;
}

@media (max-width: 768px) {
  .main-header .logo > img {
    width: 60px;
  }
}

@media (max-width: 360px) {
  .main-header .logo > img {
    width: 50px;
  }
}

.main-header .logo h1,
.main-header .logo p {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

@media (max-width: 768px) {
  .main-header .logo h1,
  .main-header .logo p {
    width: 120%;
  }
}

.main-header .logo h1 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  padding-left: .5em;
  margin-bottom: 0.3em;
}

@media (max-width: 768px) {
  .main-header .logo h1 {
    font-size: 1rem;
    padding-left: 0.5em;
  }
}

.main-header .logo p {
  font-size: 0.75rem;
  padding-left: 1.2em;
  letter-spacing: 0.31rem;
}

@media (max-width: 768px) {
  .main-header .logo p {
    padding-left: 1em;
    letter-spacing: 0.09rem;
  }
}

@media (max-width: 768px) {
  .main-header .logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/*** Breadcrumbs 麵包屑 ***/
.wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.wrap .course-nav {
  margin: 1em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

@media (max-width: 768px) {
  .wrap .course-nav {
    margin: 2rem auto;
    padding: 0;
  }
}

@media (max-width: 360px) {
  .wrap .course-nav {
    padding: 0px;
  }
}

.step1,
.step2,
.step3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 50px;
}

@media (max-width: 768px) {
  .step1,
  .step2,
  .step3 {
    padding: 0;
  }
}

.course-nav li {
  display: inline-block;
  color: #808080;
  font-size: 1rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .course-nav li {
    font-size: 1rem;
  }
}

@media (max-width: 360px) {
  .course-nav li {
    font-size: 0.75rem;
  }
}

.course-nav li .step {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background: #808080;
  color: #ffffff;
  text-align: center;
  line-height: 24px;
  display: inline-block;
  margin-right: 8px;
}

/*** 標籤條 基本設定 ***/
.cart-tab-title {
  border-bottom: 2px solid #e53244;
}

.cart-tab-title .tab {
  border-radius: 5px 5px 0 0;
  background-color: #e53244;
  border-bottom: 1px solid #e53244;
  color: #ffffff;
  font-weight: 500;
  display: inline-block;
  margin: 0;
  padding: 5px 12px;
  line-height: 1.3;
}
/*# sourceMappingURL=master.css.map */